# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris = pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',sep=',')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [10]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.rename(columns={'5.1':'sepal_length','3.5':'sepal_width','1.4':'petal_length','0.2':'petal_width','Iris-setosa':'class'},inplace=True)

### Step 5.  Is there any missing value in the dataframe?

In [13]:
print("No missing values",'\n')
iris.info()

No missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
 4   class         149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [19]:
#iris['petal_length'].loc[10:29] = None 
iris['petal_length'].loc[10:29]

10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
Name: petal_length, dtype: float64

### Step 7. Good, now lets substitute the NaN values to 1.0

In [21]:
iris['petal_length'].loc[10:29] = 1.0 
iris['petal_length'].loc[10:29]

C:\Users\DELL G3 15\AppData\Local\Temp\ipykernel_9264\1263621980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length'].loc[10:29] = 1.0

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
Name: petal_length, dtype: float64

### Step 8. Now let's delete the column class

In [23]:
iris.drop(columns={'class'},inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [25]:
iris.loc[0:3] = None 
iris

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             NaN          NaN           NaN          NaN
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 10.  Delete the rows that have NaN

In [26]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [29]:
iris.reset_index(inplace=True)

### BONUS: Create your own question and answer it.
### the question is to creat an column called sepal_sum that contain the sum of the sepal to columns and insert it after sepal_length columns

In [39]:
sepal_sum = iris['sepal_length'] + iris["sepal_width"]
iris.insert(loc=2,column="sepal_sum",value=sepal_sum)
iris

     index  sepal_length  sepal_sum  sepal_width  petal_length  petal_width
0        4           5.4        9.3          3.9           1.7          0.4
1        5           4.6        8.0          3.4           1.4          0.3
2        6           5.0        8.4          3.4           1.5          0.2
3        7           4.4        7.3          2.9           1.4          0.2
4        8           4.9        8.0          3.1           1.5          0.1
..     ...           ...        ...          ...           ...          ...
140    144           6.7        9.7          3.0           5.2          2.3
141    145           6.3        8.8          2.5           5.0          1.9
142    146           6.5        9.5          3.0           5.2          2.0
143    147           6.2        9.6          3.4           5.4          2.3
144    148           5.9        8.9          3.0           5.1          1.8

[145 rows x 6 columns]