# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [5]:
# count of countries in each continent : 
count = drinks.groupby(["continent"]).count()
# sum of all different kinds of services in each continent : 
sumetion  = drinks.groupby(["continent"]).sum()
# the average of all different kinds of services in each continent :
average = sumetion / count

,beer_servings,country,spirit_servings,total_litres_of_pure_alcohol,wine_servings
continent,,,,,
AF,61.471698,NaN,16.339623,3.007547,16.264151
AS,37.045455,NaN,60.840909,2.170455,9.068182
EU,193.777778,NaN,132.555556,8.617778,142.222222
OC,89.687500,NaN,58.437500,3.381250,35.625000
SA,175.083333,NaN,114.750000,6.308333,62.416667

In [6]:
average.sort_values(by=["beer_servings"],ascending=False).iloc[:1,:1]

           beer_servings
continent
EU            193.777778

### Step 5. For each continent print the statistics for wine consumption.

In [26]:
# solution one : 
print("Total drinks for each continent:")
print(sumetion['wine_servings'].sort_values(ascending=False))
print()
print("average drinks for each continent:")
print(average["wine_servings"].sort_values(ascending=False))
# solution two : 
#sumetion.groupby(["continent"]).sum().sort_values(by=["wine_servings"],ascending=False)

Total drinks for each continent:
continent
EU    6400
AF     862
SA     749
OC     570
AS     399
Name: wine_servings, dtype: int64

average drinks for each continent:
continent
EU    142.222222
SA     62.416667
OC     35.625000
AF     16.264151
AS      9.068182
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [28]:
# review !!!
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [32]:
#review !!!
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [30]:
# reviw !!! 
drinks.groupby('continent')['spirit_servings'].describe()

           count        mean        std   min    25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0   1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0   1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0  81.00  122.0  173.00  373.0
OC          16.0   58.437500  70.504817   0.0  18.00   37.0   65.25  254.0
SA          12.0  114.750000  77.077440  25.0  65.75  108.5  148.75  302.0