# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [28]:
regiment = pd.DataFrame(data=raw_data,columns=['regiment','company','name','preTestScore','postTestScore'])
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [4]:
regiment.preTestScore[regiment.regiment =="Nighthawks"].mean()

15.25

### Step 5. Present general statistics by company

In [5]:
regiment.company.describe()

count      12
unique      2
top       1st
freq        6
Name: company, dtype: object

### Step 6. What is the mean of each company's preTestScore?

In [7]:
v = regiment[['company','preTestScore']].sort_values(by='company')
print("the mean of 1st company's preTestScore = " ,v[0:6].mean())
print("the mean of 2nd company's preTestScore = " ,v[6:12].mean())

the mean of 1st company's preTestScore =  preTestScore    6.666667
dtype: float64
the mean of 2nd company's preTestScore =  preTestScore    15.5
dtype: float64

C:\Users\DELL G3 15\AppData\Local\Temp\ipykernel_11884\90530442.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("the mean of 1st company's preTestScore = " ,v[0:6].mean())
C:\Users\DELL G3 15\AppData\Local\Temp\ipykernel_11884\90530442.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("the mean of 2nd company's preTestScore = " ,v[6:12].mean())

In [22]:
# better way 
regiment[['company','preTestScore']].groupby(by='company').mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [21]:
regiment[['company','regiment','preTestScore']].groupby(['regiment','company']).mean()

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

In [24]:
regiment.groupby(['regiment','company'])

### Step 10. What is the number of observations in each regiment and company

In [26]:
regiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   regiment       12 non-null     object
 1   company        12 non-null     object
 2   name           12 non-null     object
 3   preTestScore   12 non-null     int64
 4   postTestScore  12 non-null     int64
dtypes: int64(2), object(3)
memory usage: 608.0+ bytes

### Step 11. Iterate over a group and print the name and the whole data from the regiment